<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="tests.PostScenarios"/>
      <class name="tests.GetScenarios"/>
       <class name="tests.PutScenarios"/>
      <class name="tests.DeleteScenarios"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
